.center {
  margin: 0 auto;
  text-align: center;
}

.prepend-top {
  margin-top: 10px;
  margin-bottom: 10px;
}

.prepend-left {
	margin-left: 10px;
}

.prepend-right {
	margin-right: 10px;
}

.prepend-bottom {
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
	/* support: IE10, see #8844 */
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
.ui-widget {
	font-size: 1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #d2d3d6;
	background: #ffffff url(images/ui-bg_flat_0_ffffff_40x100.png) 50% 50% repeat-x;
	color: #1a1a1a;
}
.ui-widget-content a {
	color: #1a1a1a;
}
.ui-widget-header {
	border: 1px solid #d2d3d6;
	background: #e6e7e8 url(images/ui-bg_flat_0_e6e7e8_40x100.png) 50% 50% repeat-x;
	color: #1a1a1a;
	font-weight: 600;
}
.ui-widget-header a {
	color: #1a1a1a;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d2d3d6;
	background: #edeef0 url(images/ui-bg_flat_0_edeef0_40x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #1a1a1a;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #d2d3d6;
	background: #f7f8fa url(images/ui-bg_flat_0_f7f8fa_40x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #1a1a1a;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #1a1a1a;
	text-decoration: none;
}

.ui-dialog-buttonset {
	float: right;
}

.ui-dialog-titlebar-close {
	display: none;
}
